@layer base {
  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background: hsl(var(--bg));
    color: hsl(var(--text));
  }

  ::selection {
    background: hsl(var(--primary) / 0.18);
  }

  code {
    font-family: var(--font-mono);
  }
}
